server/src/main/resources/xsd/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by MICHELLE LUU (MASTERCARD INTERNATIONAL) -->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
	<xs:element name="Address" type="Address"/>
		<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="Line1">	
			   <xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="1"/>
     		         <xs:maxLength value="40"/>
     		     </xs:restriction>
			   </xs:simpleType>
			</xs:element>
			<xs:element name="Line2"  minOccurs="0">
			<xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="0"/>
     		         <xs:maxLength value="40"/>
     		     </xs:restriction>
		    </xs:simpleType>
			 </xs:element>  
			<xs:element name="Line3" minOccurs="0">
			<xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="0"/>
     		         <xs:maxLength value="255"/>
     		     </xs:restriction>
		    </xs:simpleType>
			</xs:element>
			<xs:element name="City">
			<xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="1"/>
     		         <xs:maxLength value="25"/>
     		     </xs:restriction>
		    </xs:simpleType>
		   </xs:element>
		    <xs:element name="CountrySubdivision" minOccurs="0">
			<xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="0"/>
     		         <xs:maxLength value="255"/>
     		     </xs:restriction>
		    </xs:simpleType>
		   </xs:element>
		   <xs:element name="PostalCode">
			<xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="0"/>
     		         <xs:maxLength value="10"/>
     		     </xs:restriction>
		    </xs:simpleType>
		   </xs:element>
			<xs:element name="Country">
			<xs:simpleType>
			      <xs:restriction base="xs:string">		
			         <xs:minLength value="0"/>
     		         <xs:maxLength value="255"/>
     		     </xs:restriction>
		    </xs:simpleType>
		   </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardBrand" type="CardBrand"/>
	<xs:complexType name="CardBrand">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Logo" type="Logo"/>
			<xs:element name="AcceptanceMarkLogo" type="Logo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardBrands" type="CardBrands"/>
	<xs:complexType name="CardBrands">
		<xs:sequence>
			<xs:element name="CardBrand" type="CardBrand" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardBrandSearch" type="CardBrandSearch"/>
	<xs:complexType name="CardBrandSearch">
		<xs:sequence>
			<xs:element name="CardNumberPrefix" type="xs:string" />
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="CardSecurityRequired" type="CardSecurityRequired"/>
	<xs:complexType name="CardSecurityRequired">
		<xs:sequence>
			<xs:element name="Active" type="xs:boolean"/>
			<xs:element name="SecureCodeCardSecurityDetails" type="SecureCodeCardSecurityDetails" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	
	<xs:element name="CartItem" type="CartItem"/>
	<xs:complexType name="CartItem">
		<xs:sequence>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Quantity" type="xs:long"/>
			<xs:element name="UnitPrice" type="xs:string"/>
			<xs:element name="Logo" type="Logo"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Checkout" type="Checkout"/>
	<xs:complexType name="Checkout">
		<xs:sequence>
			<xs:element name="Id" type="xs:long" />
			<xs:element name="Ref" type="xs:string" />
			<xs:element name="Name" type="Name" />
			<xs:element name="PaymentMethod" type="PaymentCard" />
			<xs:element name="DeliveryDestination"
				type="DeliveryDestination" />
			<xs:element name="ExtensionPoint" type="ExtensionPoint"
				minOccurs="0" />
			<xs:element name="LoyaltyCard" type="LoyaltyCard"
				minOccurs="0" />
			<xs:element name="CheckoutResourceUrl" type="xs:string" />
			<xs:element name="MerchantCallbackUrl" type="xs:string" />
			<xs:element name="CheckoutPairingCallbackUrl"
				type="xs:string" />
			<xs:element name="VerifierToken" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Connection" type="Connection"/>
	<xs:complexType name="Connection">
		<xs:sequence>
			<xs:element name="ConnectionId" type="xs:long"/>
			<xs:element name="MerchantName" type="xs:string"/>
			<xs:element name="ConnectionName" type="xs:string"/>
			<xs:element name="Logo" type="Logo"/>
			<xs:element name="DataTypes" type="DataTypes"/>
			<xs:element name="OneClickSupported" type="xs:boolean"/>
			<xs:element name="OneClickEnabled" type="xs:boolean"/>
			<xs:element name="LastUpdatedUsed" type="xs:dateTime"/>
			<xs:element name="ConnectedSinceDate" type="xs:string"/>
			<xs:element name="ExpirationDate" type="xs:dateTime"/>
			<xs:element name="MerchantUrl" type="xs:anyURI"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConnectionList" type="ConnectionList"/>
	<xs:complexType name="ConnectionList">
		<xs:sequence>
			<xs:element name="Connection" type="Connection" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConnectionHistory" type="ConnectionHistory"/>	
		<xs:complexType name="ConnectionHistory">
		<xs:sequence>			
			<xs:element name="MerchantInfo" type="MerchantInfo"/>		
      		<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>	 	
	<xs:element name="ConnectionHistoryList" type="ConnectionHistoryList"/>
	<xs:complexType name="ConnectionHistoryList">
		<xs:sequence>
			<xs:element name="ConnectionHistory" type="ConnectionHistory" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CookiePolicy" type="CookiePolicy"/>
	<xs:complexType name="CookiePolicy">
		<xs:complexContent>
			<xs:extension base="LegalNotice">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    <xs:element name="TermsOfUseUrls" type="TermsOfUseUrls"/>
    <xs:complexType name="TermsOfUseUrls">
        <xs:sequence>
            <xs:element ref="LocalUrl" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="LocalUrl" type="LocalUrl"/>
    <xs:complexType name="LocalUrl">
        <xs:sequence>
            <xs:element name="Url" type="xs:string"/>
            <xs:element name="Country" type="xs:string"/>
            <xs:element name="Language" type="xs:string"/>
            <xs:element name="DocumentName" type="xs:string"/>
            <xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PrivacyUrls" type="PrivacyUrls"/>
    <xs:complexType name="PrivacyUrls">
        <xs:sequence>
            <xs:element ref="LocalUrl" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CookieNoticeUrls" type="CookieNoticeUrls"/>
    <xs:complexType name="CookieNoticeUrls">
        <xs:sequence>
            <xs:element ref="LocalUrl" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Countries" type="Countries"/>
	<xs:complexType name="Countries">
		<xs:sequence>
			<xs:element ref="Country" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Country" type="Country"/>
	<xs:complexType name="Country">
		<xs:sequence>
			<xs:element name="Code">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Z]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="CallingCode" type="xs:string"/>
			<xs:element name="Locale" type="Locale" minOccurs="0" maxOccurs="unbounded"/>	
      <xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CountryCode" type="CountryCode"/>
	<xs:complexType name="CountryCode">
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CountrySubdivision" type="CountrySubdivision"/>
	<xs:complexType name="CountrySubdivision">
		<xs:sequence>
			<xs:element name="Code">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-Z]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name" type="xs:string"/>
            <xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CountrySubdivisions" type="CountrySubdivisions"/>
	<xs:complexType name="CountrySubdivisions">
		<xs:sequence>
			<xs:element name="CountrySubdivision" type="CountrySubdivision" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataType" type="DataType"/>
	<xs:complexType name="DataType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Card"/>
						<xs:enumeration value="Address"/>
						<xs:enumeration value="Reward"/>
						<xs:enumeration value="Profile"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DataTypes" type="DataTypes"/>
	<xs:complexType name="DataTypes">
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DateOfBirth" type="DateOfBirth"/>
	<xs:complexType name="DateOfBirth">
		<xs:sequence>
			<xs:element name="Year">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1900"/>
						<xs:pattern value="\d{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Month" type="Month"/>
			<xs:element name="Day">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="31"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DeliveryDestination" type="DeliveryDestination"/>
	<xs:complexType name="DeliveryDestination">
		<xs:sequence>
			<xs:element name="ShippingDestination" type="ShippingDestination" minOccurs="0"/>
			<xs:element name="EmailDestination" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:simpleType name="EmailAddress">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Error" type="Error"/>
	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="ReasonCode" type="xs:string"/>
			<xs:element name="Recoverable" type="xs:boolean"/>
			<xs:element name="Source" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Errors" type="Errors"/>
	<xs:complexType name="Errors">
		<xs:sequence>
			<xs:element name="Error" type="Error" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ExtensionPoint" type="ExtensionPoint"/>
	<xs:complexType name="ExtensionPoint">
		<xs:sequence>
			<xs:any maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute/>
	</xs:complexType>
	<xs:simpleType name="Gender">
		<xs:restriction base="xs:token">
			<xs:enumeration value="M"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="InvitationCodeCountries" type="InvitationCodeCountries"/>
	<xs:complexType name="InvitationCodeCountries">
		<xs:sequence>
			<xs:element ref="Country" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Language">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="LegalNotice" type="LegalNotice"/>
	<xs:complexType name="LegalNotice">
		<xs:sequence>
			<xs:element name="Content" type="xs:string"/>
			<xs:element name="EffectiveDate" type="xs:date"/>
			<xs:element name="Explicit" type="xs:boolean"/>
			<xs:element name="Accepted" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Locale" type="Locale"/>
	<xs:complexType name="Locale">
		<xs:sequence>
			<xs:element name="Locale" type="xs:string" minOccurs="0"/>
			<xs:element name="Language" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Locales" type="Locales"/>
	<xs:complexType name="Locales">
		<xs:sequence>
			<xs:element name="Locale" type="Locale" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Logo" type="Logo"/>
	<xs:complexType name="Logo">
		<xs:sequence>
			<xs:element name="Ref" type="xs:string"/>
			<xs:element name="Height" type="xs:string" minOccurs="0"/>
			<xs:element name="Width" type="xs:string" minOccurs="0"/>
			<xs:element name="BackgroundColor" type="xs:string" minOccurs="0"/>
			<xs:element name="Url" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="LongDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="AlternateText" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LoyaltyBrand" type="LoyaltyBrand"/>
	<xs:complexType name="LoyaltyBrand">
		<xs:sequence>
			<xs:element name="BrandName" type="xs:string"/>
			<xs:element name="BrandId" type="xs:string"/>
			<xs:element name="Logo" type="Logo"/>
			<xs:element name="Country" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LoyaltyCard" type="LoyaltyCard"/>
	<xs:complexType name="LoyaltyCard">
		<xs:sequence>
			<xs:element name="LoyaltyCardId" type="xs:long"/>
			<xs:element name="LoyaltyBrandId" type="xs:long"/>
			<xs:element name="MembershipNumber" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>						
			<xs:element name="ExpiryMonth" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
				 	<xs:pattern value="|[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpiryYear" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					<xs:pattern value="|[0-9]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LoyaltyCards" type="LoyaltyCards"/>
	<xs:complexType name="LoyaltyCards">
		<xs:sequence>
			<xs:element name="LoyaltyCard" type="LoyaltyCard" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:element name="Merchant" type="Merchant"/>
	<xs:complexType name="Merchant">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
            <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
            <xs:element name="MerchantType" type="xs:string" minOccurs="0"/>
            <xs:element name="ProductionUrl" type="xs:string"/>
            <xs:element name="SandboxUrl" type="xs:string"/>
			<xs:element name="MerchantCheckoutId" type="xs:string"/>										
			<xs:element name="Logo" type="Logo" minOccurs="0"/>													
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>										
		</xs:sequence>
	</xs:complexType>
		
	
	<xs:element name="MobilePhone" type="MobilePhone"/>
	<xs:complexType name="MobilePhone">
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:string"/>
			<xs:element name="PhoneNumber" type="xs:string" minOccurs="1"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Month">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Name" type="Name"/>
	<xs:complexType name="Name">
		<xs:sequence>
			<xs:element name="Prefix" type="xs:string" minOccurs="0"/>
			<xs:element name="First" type="xs:string"/>
			<xs:element name="Middle" type="xs:string" minOccurs="0"/>
			<xs:element name="Last" type="xs:string"/>
			<xs:element name="Suffix" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>						
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NamePrefix" type="NamePrefix"/>
	<xs:complexType name="NamePrefix">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>									
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NamePrefixes" type="NamePrefixes"/>
	<xs:complexType name="NamePrefixes">
		<xs:sequence>
			<xs:element name="NamePrefix" type="NamePrefix" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="PairingDataType" type="PairingDataType"/>
	<xs:complexType name="PairingDataType">
		<xs:sequence>
			<xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CARD"/>
						<xs:enumeration value="ADDRESS"/>
						<xs:enumeration value="REWARD_PROGRAM"/>
						<xs:enumeration value="PROFILE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PairingDataTypes" type="PairingDataTypes"/>
	<xs:complexType name="PairingDataTypes">
		<xs:sequence>
			<xs:element name="PairingDataType" type="PairingDataType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PaymentCard" type="PaymentCard"/>
	<xs:complexType name="PaymentCard">
		<xs:sequence>
			<xs:element name="Id" type="xs:long"/>
			<xs:element name="Ref" type="xs:string" minOccurs="0"/>
			<xs:element name="Alias" type="xs:string" minOccurs="0"/>
			<xs:element name="VerificationStatus" type="xs:string" minOccurs="0"/>
			<xs:element name="CardholderName" type="xs:string"/>
			<xs:element name="CardBrand" type="CardBrand"/>
			<xs:element name="DirectProvisionedSwitch" type="xs:boolean" minOccurs="0"/>			 			
			<xs:element name="AccountNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="6"/>
     					<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MaskedAccountNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ExpiryMonth" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpiryYear" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SecurityCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PhoneNumber" type="MobilePhone"/>
			<xs:element name="Preferred" type="xs:boolean"/>
			<xs:element name="Address" type="Address"/>
			<xs:element name="Issuer" type="Logo" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PaymentCards" type="PaymentCards"/>
	<xs:complexType name="PaymentCards">
		<xs:sequence>
			<xs:element name="PaymentCard" type="PaymentCard" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonalGreeting" type="PersonalGreeting"/>
	<xs:complexType name="PersonalGreeting">
		<xs:sequence>
			<xs:element name="PersonalGreetingText" type="xs:string"/>
			<xs:element name="UserAlias" type="xs:string"/>
			<xs:element name="UserId" type="xs:string"/>			
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Preferences" type="Preferences"/>
	<xs:complexType name="Preferences">
		<xs:sequence>
			<xs:element name="ReceiveEmailNotification" type="xs:boolean"/>
			<xs:element name="ReceiveMobileNotification" type="xs:boolean"/>
			<xs:element name="PersonalizationOptIn" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrivacyPolicy" type="PrivacyPolicy"/>
	<xs:complexType name="PrivacyPolicy">
		<xs:complexContent>
			<xs:extension base="LegalNotice">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Profile" type="Profile"/>
	<xs:complexType name="Profile">
		<xs:sequence>
			<xs:element name="Id" type="xs:long"/>
			<xs:element name="Ref" type="xs:string"/>
			<xs:element name="EmailAddress" type="EmailAddress"/>
			<xs:element name="MobilePhone" type="MobilePhone"/>
			<xs:element name="Name" type="ProfileName"/>
			<xs:element name="Preferences" type="Preferences"/>
			<xs:element name="SecurityChallenge" type="SecurityChallenge" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TermsOfUseAccepted" type="xs:boolean"/>
			<xs:element name="PrivacyPolicyAccepted" type="xs:boolean"/>
			<xs:element name="CookiePolicyAccepted" type="xs:boolean"/>
			<xs:element name="PersonalGreeting" type="PersonalGreeting" maxOccurs="1" minOccurs="0"/>
			<xs:element name="CSRFToken" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
			<xs:element name="CountryOfResidence" type="xs:string"/>
            <xs:element name="Locale" type="Locale"/>
            <xs:element name="DateOfBirth" type="DateOfBirth" minOccurs="0"/>
			<xs:element name="Gender" type="Gender" minOccurs="0"/>
			<xs:element name="NationalId" type="xs:string" minOccurs="0"/>
			<xs:element name="DirectProvisionedSwitch" type="xs:boolean" minOccurs="0"/>			 
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProfileName" type="ProfileName"/>
	<xs:complexType name="ProfileName">
		<xs:complexContent>
			<xs:extension base="Name">
				<xs:sequence>
					<xs:element name="Alias" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SecureCodeCardSecurityDetails" type="SecureCodeCardSecurityDetails"/>	
		<xs:complexType name="SecureCodeCardSecurityDetails">
		<xs:sequence>
			<xs:element name="LookupData" type="xs:string"/>
            <xs:element name="AuthorizationUrl" type="xs:string"/>
            <xs:element name="MerchantData" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityChallenge" type="SecurityChallenge"/>
	<xs:complexType name="SecurityChallenge">
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Question" type="xs:string" minOccurs="0"/>
			<xs:element name="Answer" type="xs:string" minOccurs="0"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityChallenges" type="SecurityChallenges"/>
	<xs:complexType name="SecurityChallenges">
		<xs:sequence>
			<xs:element name="SecurityChallenge" type="SecurityChallenge" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ShippingDestination" type="ShippingDestination"/>
	<xs:complexType name="ShippingDestination">
		<xs:sequence>
			<xs:element name="Id" type="xs:long"/>
			<xs:element name="Ref" type="xs:string" minOccurs="0"/>
			<xs:element name="Alias" type="xs:string" minOccurs="0"/>
			<xs:element name="RecipientName" type="xs:string"/>
			<xs:element name="PhoneNumber" type="MobilePhone" minOccurs="0"/>
			<xs:element name="Preferred" type="xs:boolean"/>
			<xs:element name="Address" type="Address"/>
			<xs:element name="DirectProvisionedSwitch" type="xs:boolean" minOccurs="0"/>			 			
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ShippingDestinations" type="ShippingDestinations"/>
	<xs:complexType name="ShippingDestinations">
		<xs:sequence>
			<xs:element name="ShippingDestination" type="ShippingDestination" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ShoppingCart" type="ShoppingCart"/>
	<xs:complexType name="ShoppingCart">
		<xs:sequence>
			<xs:element name="CartTotal" type="xs:string"/>
            <xs:element name="CurrencyCode" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
			<xs:element name="CartItem" type="CartItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TermsAndConditions" type="TermsAndConditions"/>
	<xs:complexType name="TermsAndConditions">
		<xs:complexContent>
			<xs:extension base="LegalNotice">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TransactionStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Failure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ValidateSecurityChallenge" type="ValidateSecurityChallenge"/>
	<xs:complexType name="ValidateSecurityChallenge">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="WalletProvider" type="WalletProvider"/>
	<xs:complexType name="WalletProvider">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"></xs:element>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Countries" type="Countries" />
			<xs:element name="Logo" type="Logo" minOccurs="0" />
			<xs:element name="DisplayRank" type="xs:long" minOccurs="0" />
			<xs:element name="PreferredFlag" type="xs:boolean" />
			<xs:element name="NewFlag" type="xs:boolean" />
			<xs:element name="LastUpdatedDate" type="xs:dateTime" />
			<xs:element name="LastTransactionDate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="EncryptedUserId" type="xs:string" minOccurs="0" />
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0" />
			<xs:element name="WalletProviderUrl" type="xs:anyURI" />
			<xs:element name="ApiWallet" type="xs:boolean" minOccurs="0" />
			<xs:element name="WhiteLabelWallet" type="xs:boolean" minOccurs="0" />
            <xs:element name="TermsOfUseUrls" type="TermsOfUseUrls" />
            <xs:element name="PrivacyUrls" type="PrivacyUrls" />
            <xs:element name="CookieNoticeUrls" type="CookieNoticeUrls" />
			<xs:element name="CheckoutUrl" type="xs:string" />
			<xs:element name="AccountMaintenanceUrl" type="xs:string" />
			<xs:element name="AddCardUrl" type="xs:string" />
			<xs:element name="AddAddressUrl" type="xs:string" />
			<xs:element name="PairingUrl" type="xs:string" />
			<xs:element name="RegistrationUrl" type="xs:string" />
            <xs:element name="LogoutUrl" type="xs:string" />
			<xs:element name="CustomerServicePhoneNumber" type="xs:string" minOccurs="0" />
			<xs:element name="ConnectEnabled" type="xs:boolean" />
			<xs:element name="ExpressCheckoutEnabled" type="xs:boolean" />
			<xs:element name="InvitationCodeCountries" type="InvitationCodeCountries" />
			<xs:element name="PLDPWallet" type="xs:boolean" minOccurs="0" />
			<xs:element name="MLDPWallet" type="xs:boolean" minOccurs="0" />
            <xs:element name="LightboxEnabled" type="xs:boolean" />
            <xs:element name="LightboxVersion" type="xs:long" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
    <xs:element name="Response" type="Response"/>
    <xs:complexType name="Response">
        <xs:sequence>
        	<xs:element name="Message" type="xs:string" minOccurs="0" />
        	<xs:element name="Errors" type="Errors" minOccurs="0" />
        	<xs:element name="ExtensionPoint" type="ExtensionPoint"
        		minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    	<xs:element name="TransactionDetails" type="TransactionDetails"/>
	<xs:complexType name="TransactionDetails">
		<xs:sequence>
			<xs:element name="TransactionId" type="xs:string" minOccurs="1"/>
			<xs:element name="WidgetCode" type="xs:string" minOccurs="1"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Checkout Selections -->
    <xs:element name="CheckoutSelection" type="CheckoutSelection"/>
    <xs:complexType name="CheckoutSelection">
        <xs:sequence>
            <xs:element name="ShippingDestinationId" type="xs:long" minOccurs="0"/>
            <xs:element name="PaymentCardId" type="xs:long"  minOccurs="0"/>
            <xs:element name="LoyaltyCardId" type="xs:long" minOccurs="0"/>
            <xs:element name="PrecheckoutTransactionId" type="xs:string"/>
            <xs:element name="DigitalGoods" type="xs:boolean"/>
            <xs:element name="MerchantCheckoutId" type="xs:string"/>
            <xs:element name="TimeStamp" type="xs:dateTime"/>
            <xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    	
	<xs:element name="CheckoutWrapper" type="CheckoutWrapper"/>
	<xs:complexType name="CheckoutWrapper">
		<xs:sequence>
			<xs:element name="Checkout" type="Checkout"></xs:element>
		</xs:sequence>
	</xs:complexType>
	

	<xs:element name="ErrorWrapper" type="ErrorWrapper"/>
	<xs:complexType name="ErrorWrapper">
		<xs:sequence>
			<xs:element name="Error" type="Error"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LoyaltyBrandWrapper" type="LoyaltyBrandWrapper"/>
	<xs:complexType name="LoyaltyBrandWrapper">
		<xs:sequence>
			<xs:element name="LoyaltyBrand" type="LoyaltyBrand"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LoyaltyCardWrapper" type="LoyaltyCardWrapper"/>
	<xs:complexType name="LoyaltyCardWrapper">
		<xs:sequence>
			<xs:element name="LoyaltyCard" type="LoyaltyCard"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MerchantWrapper" type="MerchantWrapper"/>
	<xs:complexType name="MerchantWrapper">
		<xs:sequence>
			<xs:element name="Merchant" type="Merchant"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NamePrefixWrapper" type="NamePrefixWrapper"/>
	<xs:complexType name="NamePrefixWrapper">
		<xs:sequence>
			<xs:element name="NamePrefix" type="NamePrefix"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PairingDataTypeWrapper" type="PairingDataTypeWrapper"/>
	<xs:complexType name="PairingDataTypeWrapper">
		<xs:sequence>
			<xs:element name="PairingDataType" type="PairingDataType"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PaymentCardWrapper" type="PaymentCardWrapper"/>
	<xs:complexType name="PaymentCardWrapper">
		<xs:sequence>
			<xs:element name="PaymentCard" type="PaymentCard"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonalGreetingWrapper" type="PersonalGreetingWrapper"/>
	<xs:complexType name="PersonalGreetingWrapper">
		<xs:sequence>
			<xs:element name="PersonalGreeting" type="PersonalGreeting"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProfileWrapper" type="ProfileWrapper"/>
	<xs:complexType name="ProfileWrapper">
		<xs:sequence>
			<xs:element name="Profile" type="Profile"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ResponseWrapper" type="ResponseWrapper"/>
	<xs:complexType name="ResponseWrapper">
		<xs:sequence>
			<xs:element name="Response" type="Response"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SecurityChallengeWrapper" type="SecurityChallengeWrapper"/>
	<xs:complexType name="SecurityChallengeWrapper">
		<xs:sequence>
			<xs:element name="SecurityChallenge" type="SecurityChallenge"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ShippingDestinationWrapper" type="ShippingDestinationWrapper"/>
	<xs:complexType name="ShippingDestinationWrapper">
		<xs:sequence>
			<xs:element name="ShippingDestination" type="ShippingDestination"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ValidateSecurityChallengeWrapper" type="ValidateSecurityChallengeWrapper"/>
	<xs:complexType name="ValidateSecurityChallengeWrapper">
		<xs:sequence>
			<xs:element name="ValidateSecurityChallenge" type="ValidateSecurityChallenge"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WalletProviderWrapper" type="WalletProviderWrapper"/>
	<xs:complexType name="WalletProviderWrapper">
		<xs:sequence>
			<xs:element name="WalletProvider" type="WalletProvider"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WalletWrapper" type="WalletWrapper"/>
	<xs:complexType name="WalletWrapper">
		<xs:sequence>
			<xs:element name="Wallet" type="Wallet"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Wallet" type="Wallet"/>
	<xs:complexType name="Wallet">
		<xs:sequence>
			<xs:element name="Ref" type="xs:string" minOccurs="0"/>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Captcha">
		<xs:sequence>
			<xs:element name="Challenge" type="xs:string"/>
			<xs:element name="Response" type="xs:string"/>
			<xs:element name="PublicKey" type="xs:string"/>
			<xs:element name="ExtensionPoint" type="ExtensionPoint" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Activity" type="Activity"/>
	<xs:complexType name="Activity">
		<xs:sequence>
			<xs:element name="Date" type="xs:dateTime" />
			<xs:element name="ExpressCheckout" type="xs:string" />
			<xs:element name="Pairing" type="xs:string" />
			<xs:element name="PairingDataType" type="PairingDataType" />
			<xs:element name="PrecheckoutDataType" type="PairingDataType" />
		</xs:sequence>
	</xs:complexType>	
	<xs:element name="MerchantInfoList" type="MerchantInfoList"/>
	<xs:complexType name="MerchantInfoList">
		<xs:sequence>
			<xs:element name="MerchantInfo" type="MerchantInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MerchantInfo" type="MerchantInfo"/>
	<xs:complexType name="MerchantInfo">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" />
			<xs:element name="Id" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
		    <xs:element name="ActivityList" type="ActivityList" />
		</xs:sequence>
	</xs:complexType>	
	<xs:element name="ActivityList" type="ActivityList"/>
	<xs:complexType name="ActivityList">
		<xs:sequence>
			<xs:element name="Activity" type="Activity" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
